{% extends 'base.html' %}

{% block contents%}
<h1>Melvin Pet Adoption Agency</h1>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<h2>{{ message }}</h2>
{% endfor %}
{% endwith %}

{% for pet in pets %}

<a href="/{{ pet.id }}">
    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}">
    {% else %}
    <p>NO PHOTO</p>
    {% endif %}

    <p>Name: {{pet.name}}</p>

    <h3>
        {% if pet.available %}
        AVAILABLE
        {% else %}
        NOT AVAILABLE
        {% endif %}
    </h3>
</a>

{% endfor %}

{% endblock %}